In [ ]:
Introduction  to python programming :

In [ ]:
understanding the variables in python :

In [8]:
x = 2

y = 3

In [9]:
z = x+y

print(z)

5

In [ ]:
Rules for declaring the variables in python :

In [ ]:
Rule NO 1 : NO Namespaces while declaring the variable names in python

In [10]:
first name = 'Faiyaz'

print(first name)

SyntaxError: invalid syntax (3242007496.py, line 1)

In [11]:
firstname = 'Faiyaz'

print(firstname)

Faiyaz

In [ ]:
Rule No 2 : A variable name should not start with a number **

In [12]:
1name = 'karthik'

print(1name)

SyntaxError: invalid decimal literal (1561737147.py, line 1)

In [13]:
name1 = 'karthik'

print(name1)

karthik

In [ ]:
Rule No 3 : A variable name should not contain any special characters

@ # $ % ^ & *

In [14]:
name@ = "deepak"

print(name@)

SyntaxError: invalid syntax (2885408813.py, line 1)

In [ ]:
introduction to datatypes in python :

In [ ]:
1. strings ====> str

2. Numbers ====> integers ---> int and floats ===> float ( decimals====> 0.1, 0.2)

3. lists=== > list

4. tuples ====> tuple

5. Dictionaries ====> dict

In [ ]:
Note : python is a case sensitive programming language .

In [ ]:
classification of datatypes in python :

In [ ]:
Broadly datatypes are classified in to 2 different categories :

      1. mutable  datatypes =====> which we can edit / alter ====> flexible in nature

      2. immutable  datatypes ===> which we cannot be able to edit ===> these are fixed in nature

In [ ]:
introduction to string datatype :

defination  : A string is a series of characters declared in quote.

classification  : It is classified as immutable datatype

how to declare the string datatype ======> 2 approaches

1. single quote

2. double quote

In [15]:
name = 'joseph' # single quote

print(name)

joseph

In [17]:
 name2 = "kavya" # double quote

print(name2)

kavya

In [ ]:
introductin to string methonds :

In [18]:
type(name)

str

In [19]:
type(name2)

str

In [20]:
fullname = 'zeba ansari'

print(fullname)

zeba ansari

In [ ]:
# req : to correct the format

In [21]:
print(fullname.title())

Zeba Ansari

In [ ]:
# req : i want the entire name in capitals

In [22]:
print(fullname.upper())

ZEBA ANSARI

In [ ]:
# req : i want the entire name in small case letters.

In [23]:
print(fullname.lower())

zeba ansari