In [ ]:
Getting started with python :

In [ ]:
Introduction to datatypes :

   1. string ====> completed

   2 Numbers ====> integers (int) and float( decimals) = 0.1,0.2

   3. list datatype

   4. tuples

   5. Dictionaries

In [ ]:
introduction to Numbers

In [9]:
number =123

print(number)

123

In [10]:
type(number)

int

In [11]:
num2 = 0.1

print(num2)

0.1

In [12]:
type(num2)

float

In [ ]:
introduction to list datatype :

defination : A list is a collection of items defined in a particular order.

classification : It is classified as mutable datatype (which we can edit / alter)

how to define the list datatype : [] # square brackets.

In [17]:
students = ['arpita','ashwini','asma','bhuvan','david','karthik'] # [0,1,2,3,4,5]

In [18]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [19]:
type(students)

list

In [ ]:
introduction to indexing : 0,1,2,3,4,5,6..........

In [ ]:
# req : i want to access ashwini name in the output....?

In [20]:
print(students[1])

ashwini

In [22]:
print(students[1].title())

Ashwini

In [ ]:
# req : i want to access bhuvan name in the op...?

In [23]:
print(students[3].title())

Bhuvan

In [ ]:
how to add new elements to the list
how to modify the elements in the list
how to delete the elements in the list

In [24]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [13]:
# req : i want to add shafi name in the above list..

In [14]:
students = ['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [15]:
students.append('shafi')

In [16]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'shafi']

In [17]:
# req : i want to add venkat to the above list.

In [19]:
students.append('venkat')

In [20]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [21]:
# req : i want to add kaleem at 2nd index position..

In [22]:
students.insert(2, 'kaleem')

In [23]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [24]:
print(students[2])

kaleem

In [ ]:
interview_questions : what is the difference btw append and insert methods in a list datatype......?

In [28]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [29]:
# req : i want to modify arpita name to anand.....

In [30]:
students[0] = 'Anand'

In [31]:
print(students)

['Anand', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']

In [32]:
# req : i want to delete ashwini name in the above list.....?

In [33]:
del students[1]

In [34]:
print(students)

['Anand', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'venkat', 'venkat']