In [ ]:
continuation with list datatype :

In [ ]:
organising the list datatype :

In [8]:
cars = ['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [9]:
print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [10]:
type(cars)

list

In [11]:
# req : i want to organise the list in alphabetical order

In [ ]:
A, B, C, D

In [ ]:
there are 2 approaches :

    1. temporary approach =====> sorted method ===> we will be able to get the original order defined

    2. permanent approach =====> sort method

In [15]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [ ]:
benz, bmw ====> e,m

In [16]:
print(cars) # this is the original order

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [ ]:
cars.sort()

In [17]:
print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [18]:
print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [ ]:
interview_question : what is the difference between sorted and sort method in a list datatype?

In [ ]:
# i want to count the no of elements in the list

In [19]:
len(cars)

6

In [ ]:
# req : i want to print the list in the A-Z, Z-A

In [ ]:
cars.reverse()

In [20]:
print(cars) # A-Z order

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [ ]:
# is used for commenting the code.

In [ ]:
introduction to slicing :

In [25]:
students = ['ankita','arpita','bhushan','bhanu','chandra','cynthya','danish']

In [26]:
print(students)

['ankita', 'arpita', 'bhushan', 'bhanu', 'chandra', 'cynthya', 'danish']

In [ ]:
# genral syntax for slicing :

In [ ]:
[start_value:stop_value:step_count]

In [ ]:
Note : stope is always exclusive, to include the stop value increment the index by +1.

In [ ]:
# req : i want to include anika and arpita in the slice.

In [27]:
print(students[0:1])

['ankita']

In [28]:
print(students[0:2])

['ankita', 'arpita']

In [ ]:
# req : Bhushan and Bhanu

In [29]:
print(students[2:4])

['bhushan', 'bhanu']

In [30]:
print(students[0:7:2])

['ankita', 'bhushan', 'chandra', 'danish']

In [31]:
print(students)

['ankita', 'arpita', 'bhushan', 'bhanu', 'chandra', 'cynthya', 'danish']

In [ ]:
introduction to tuple datatype :

In [ ]:
defination : An immutable list is called as a tuple.

classification : It is classified as in immutable datatype

how to define the tuple datatype : ( )

In [33]:
dimensions = (20, 50)

In [34]:
print(dimensions)

(20, 50)

In [35]:
type(dimensions)

tuple

In [36]:
dimensions[0] = 30

TypeError: 'tuple' object does not support item assignment

In [37]:
print(dimensions[1])

50

In [ ]:
looping statements